i {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .barraReproductor {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;

  }
 